# Root ignore
.env
.env.*
.idea/
.vscode/
.DS_Store
*.log
coverage/
/dist/
/build/
/tmp/
observability/
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.old
*.orig

# Go
## Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

## Test results and coverage reports
*.test
*.out
cover.out

## Dependency directories (if using vendoring)
vendor/

# Java
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Python
**/__pycache__/
**/*.pyc
.venv/

# Node (futuro se houver)
node_modules/

# OS
Thumbs.db

# Poetry / Pip
poetry.lock

# Pycache
**/*.pyo

# Misc

