# Root ignore
.env
.env.*
.idea/
.vscode/
.DS_Store
*.log
coverage/
/dist/
/build/
/tmp/
# Go
services/gateway/bin/
# Java
**/target/
**/.mvn/wrapper/maven-wrapper.jar
# Python
**/__pycache__/
**/*.pyc
.venv/
# Node (futuro se houver)
node_modules/
# OS
Thumbs.db
# Poetry / Pip
poetry.lock
# Pycache
**/*.pyo
# Misc

