# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test results and coverage reports
*.test
*.out
cover.out

# Dependency directories (if using vendoring)
vendor/

# Environment variables
# IMPORTANT: Never commit secrets!
.env

# Log files
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/